/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ------------------------------------------------------------------------------ *\
   BORDER RADIUS
\* ------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------ *\
   TRANSITION
\* ------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------ *\
   BOX SHADOW
\* ------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------ *\
   LINEAR GRADIENT

   Author: Dan Cederholm
\* ------------------------------------------------------------------------------ */
html {
  background: none;
  width: 100%;
}

a {
  text-decoration: none;
  color: white;
}

.btnhome {
  text-shadow: 1px 3px 5px;
  font-family: "Didact Gothic", sans-serif;
  font-size: 200px;
  background: #ff7010;
  text-decoration: none;
  float: left;
  padding: 100px;
  width: 100%;
}

.btnart {
  text-shadow: 1px 3px 5px #666666;
  font-family: "Didact Gothic", sans-serif;
  font-size: 150px;
  background: #F2CA50;
  text-decoration: none;
  float: left;
  padding: 100px;
  width: 100%;
}

.btnart:hover {
  background: #F2AC00;
  text-decoration: none;
}

.btncomputers {
  text-shadow: 1px 3px 5px #666666;
  font-family: "Didact Gothic", sans-serif;
  font-size: 150px;
  background: #3698BF;
  text-decoration: none;
  float: left;
  padding: 100px;
  width: 100%;
}

.btncomputers:hover {
  background: #44c4f0;
  text-decoration: none;
}

em {
  color: #D92A1A;
}

.btnhome2 {
  text-shadow: 1px 3px 5px;
  font-family: "Didact Gothic", sans-serif;
  font-size: 100px;
  background: #ff7010;
  text-decoration: none;
  float: left;
  padding: 20px;
  width: 100%;
}

.btnart2 {
  text-shadow: 1px 3px 5px #666666;
  font-family: "Didact Gothic", sans-serif;
  font-size: 75px;
  background: #F2CA50;
  text-decoration: none;
  float: left;
  padding: 20px;
  width: 100%;
}

.btnart2:hover {
  background: #F2AC00;
  text-decoration: none;
}

.btncomputers2 {
  text-shadow: 1px 3px 5px #666666;
  font-family: "Didact Gothic", sans-serif;
  font-size: 75px;
  background: #3698BF;
  text-decoration: none;
  float: left;
  padding: 20px;
  width: 100%;
}

.btncomputers2:hover {
  background: #44c4f0;
  text-decoration: none;
}

h1 {
  font-family: "Didact Gothic", sans-serif;
  font-size: 50px;
  text-decoration: none;
  width: 100%;
  line-height: 1.3em;
  color: #F2AC00;
  padding-bottom: 20px;
}

i {
  font-style: italic;
}

img {
  max-width: 500px;
  float: left;
  padding-right: 30px;
}

strong {
  font-size: 120%;
  color: #ff7010;
}

h1 {
  font-family: "Didact Gothic", sans-serif;
  font-size: 50px;
  text-decoration: none;
  width: 100%;
  line-height: 1.3em;
  color: #F2AC00;
  padding-bottom: 20px;
}

strong .two {
  font-size: 120%;
  color: #ff7010;
}
