* {
   font-family: Helvetica;
}

body {
   margin: auto;
}

h1 {
   border-style: solid;
   color: blue;
   font-size: 64pt
}

h2 {
   color: green;
   font-size: 24pt
}

h4 {
   color: gray;
   font-family: Garamond;
   font-size: 20pt;
}
