@import '_base.scss';
@import '_mixins.scss';

$font: 'Didact Gothic', sans-serif;
$bodytypecolor: white;
$bodytypesize: 150px;

html {
  background: none;
  width: 100%;
}

a {
  text-decoration: none;
  color: white;
}

.btnhome {
  text-shadow: 1px 3px 5px;
  font-family: $font;
  font-size: 200px;
  background: #ff7010;
  text-decoration: none;
  float: left;
  padding: 100px;
  width: 100%;
}

.btnart {
    text-shadow: 1px 3px 5px #666666;
    font-family: $font;
    font-size: $bodytypesize;
    background: #F2CA50;
    text-decoration: none;
    float: left;
    padding: 100px;
    width: 100%;
  }

.btnart:hover {
    background: #F2AC00;
    text-decoration: none;
  }

.btncomputers {
  text-shadow: 1px 3px 5px #666666;
  font-family: $font;
  font-size: $bodytypesize;
  background: #3698BF;
  text-decoration: none;
  float: left;
  padding: 100px;
  width: 100%;
}

.btncomputers:hover {
  background: #44c4f0;
  text-decoration: none;
}

.btnhome2 {
  text-shadow: 1px 3px 5px;
  font-family: $font;
  font-size: 100px;
  background: #ff7010;
  text-decoration: none;
  float: left;
  padding: 20px;
  width: 100%;
}

.btnart2 {
  text-shadow: 1px 3px 5px #666666;
  font-family: $font;
  font-size: 75px;
  background: #F2CA50;
  text-decoration: none;
  float: left;
  padding: 20px;
  width: 100%;
}

.btnart2:hover {
  background: #F2AC00;
  text-decoration: none;
}

.btncomputers2 {
  text-shadow: 1px 3px 5px #666666;
  font-family: $font;
  font-size: 75px;
  background: #3698BF;
  text-decoration: none;
  float: left;
  padding: 20px;
  width: 100%;
}

.btncomputers2:hover {
  background: #44c4f0;
  text-decoration: none;
}

h1 {
  font-family: $font;
  font-size: 50px;
  text-decoration: none;
  width: 100%;
  line-height: 1.3em;
  color: #F2AC00;
  padding-bottom: 20px;
}

i{
font-style: italic;
}

img {
  max-width: 500px;
  float: left;
  padding-right: 30px;

}

strong {
  font-size: 120%;
  color: #ff7010;
}

h2 {
  font-family: $font;
  font-size: 50px;
  text-decoration: none;
  width: 100%;
  line-height: 1.3em;
  color: #3698BF;
  padding-bottom: 20px;
}

em {
  font-size: 120%;
  color: #44c4f0;
}